pandas
numpy
pyyaml
psycopg2-binary
scikit-learn
matplotlib
seaborn
shap
imblearn
mlflow
xgboost
joblib
dvc
dvc-gs
flask
alibi-detect
prometheus_client


google-cloud-storage==2.15.0
prometheus-flask-exporter==0.22.4